.friendRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	text-decoration: none;
	box-sizing: border-box;
	color: #212529;
	padding: 15px;
	cursor: pointer;
}
.friendRow:nth-child(odd) {
	background-color: beige;
}
.friendRow:hover {
	color: white;
	background-color: #007bff;
}
a {
	text-decoration: none;
	/* box-sizing: border-box;
	color: #212529;
	padding: 15px;
	cursor: pointer; */
}
/* a:nth-child(even) {
	background-color: beige;
} */
a:hover {
	/* color: white;
	background-color: #007bff; */
	text-decoration: none;
}
.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 800px;
	margin: 0 auto;
}

/* button {
	padding: 10px;
	font-size: 20px;
} */
.icons {
	display: flex;
}
.icon {
	padding: 2px;
	font-size: 20px;
	height: 25px;
	width: 25px;
	color: gray;
	margin-left: 5px;
	display: block;
}
.display {
	display: block;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
}
.logo {
	font-size: 30px;
	width: auto;
}
.navButtons {
	width: auto;
}
.navButton {
	width: auto;
	margin-left: 10px;
}
.lost {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: auto;
}
/* Navigation */
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

/* Friend Page */
.friendWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}
.friendButtons {
	display: flex;
	justify-content: center;
	width: auto;
}
.friendButton {
	margin: 5px;
}

/* Form */
.multiForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px auto;
	width: 50%;
	padding: 5px;
}
input {
	outline: none;
	border: none;
	font-size: 20px;
	border-bottom: 1px solid gray;
	margin: 10px 0;
}
.formButton {
	width: 100%;
}
